@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
}

#principal,
#timer,
#verificacao,
#penalidade {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 90px;
}

#principal {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

#principal .titulo,
#principal .entrada_de_dados,
#principal .botao_criarTarefa {
  width: 365px;
}

#principal .titulo h1 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1%;
  color: #161616;
  margin-bottom: 38px;
}

#principal .entrada_de_dados input {
  width: 350px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #BFBFBF;
  margin-bottom: 191px;
}

#principal input:focus {
  outline: none;
}

#principal .botao_criarTarefa button {
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #262626;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}

#timer {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

#timer .cronometro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#timer .cronometro .timer span {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -2%;
  color: #161616;
}

#timer .cronometro .tarefa_ativa p {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #404040;
}

#timer .botoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#timer .botoes .concluir button,
#timer .botoes .nao_concluido button {
  width: 265px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #20B864;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}

#timer .botoes .deletar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FF3C3C;
  background-color: #FF3C3C;
  color: #FF3C3C;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#verificacao .botoes .concluido button,
#verificacao .botoes .nao_concluido button {
  width: 155px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #20B864;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}

#verificacao .botoes .nao_concluido button {
  border: 1px solid #FF3C3C;
  background-color: transparent;
  color: #FF3C3C;
}

#verificacao {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

#verificacao .check-up {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 300px;
}

#verificacao .check-up .titulo span {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -2%;
  color: #161616;
}

#verificacao .cronometro .tarefa_ativa p {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #404040;
}

#verificacao .botoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#verificacao .botoes .concluir button {
  width: 265px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #262626;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}

#verificacao .botoes .deletar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #FF3C3C;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}

#penalidade {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-color: #FF3C3C;
}

#penalidade .check-up {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#penalidade .check-up .titulo span {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -2%;
  color: #ffffff;
}

#penalidade .cronometro .nome_penalidade p {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #404040;
}

#penalidade .botoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#penalidade .botoes .botao_concluirPenalidade button {
  width: 265px;
  height: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #262626;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}
